@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.body-content {
    margin-top: 70px;
    margin-bottom: 4em;
}

.ng-cloak {
    display: none !important;
}

td {
    border: 1px solid lightgray;
    padding: 4px;
}

.light-border {
	border: 1px solid lighten(#000, 83%);
}

/**
 * Stop Firefox from displaying number spinners because on
 * Windows 10.0.10586 (15 Dec 2015) they are a blurry line 
 * (and that's being nice). 	
 */
input[type=number] {
	-moz-appearance: textfield;
}

/*
    Styles for MVC5 validation helpers 
*/

.help-block,
.field-validation-error,
.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
}

.field-validation-valid,
.validation-summary-valid {
    display: none;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error,
input[type="checkbox"].input-validation-error {
    border: 1px solid #b94a48;
}

/*
    Error Page
*/

.error-page body {
    background: #000;
    color: #FFF;
    font-size: 1.7em;
}

.error-page img {
    margin-bottom: 5px;
}

.error-page .creative-commons {
    float: none;
}

.error-page figure {
    float: left;
    font-size: x-small;
    margin-bottom: 20px;
}

    .error-page figure figcaption {
        color: darkgray;
        text-align: center;
    }

    .error-page figure a {
        color: darkgray;
    }

.error-page p {
    float: left;
    width: 300px;
}

@media (min-width: 700px) {
    .error-page p, .error-page h1 {
        float: none;
        margin-left: 350px;
    }
}

.error-page h1 {
    margin-top: 0;
}

/* 
    Blog Posts
*/

.blog-post img {
    max-width: 100%;
}

.blog-post h1 {
    border-bottom: 1px solid gray;
    font-size: 25px;
    margin-bottom: 4px;
}

.blog-post h2 {
    font-size: 20px;
    text-decoration: underline gray;
}

.blog-post h3 {
    font-size: 17px;
    text-decoration: underline gray;
}

.blog-post-published {
    color: gray;
    font-size: small;
    font-style: italic;
}

/*
    Bootstrap Alerts
*/

.alert a {
    color: orangered;
}



/*
    FileUpload
*/

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    margin: 10px;
    /* Safari and Chrome */
    padding: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 10em;
    margin: 10px;
    padding-top: 4em;
    text-align: center;
    width: 25em;
}

.dragover {
    border: 5px dashed green;
}

    /*
    todo: Mouse cursor does not change in Chrome.
    reference: http://stackoverflow.com/questions/4945874/change-cursor-over-html5-canvas-when-dragging-the-mouse
*/
    .dragover:active {
        cursor: move;
    }

/*
    Markdown editor
*/
.md-editor > textarea {
    padding: 10px;
    background-color: white;
}

.md-preview {
    padding: 10px 10px 0;
    border: 1px solid lightgray;
}

@import "tournament-entry";
