@model CroquetAustraliaWebsite.Library.Content.PublishedBlogPost[]

@foreach (var blogPost in Model)
{
    <article class="blog-post">
        <h1>@blogPost.Title</h1>
        <p class="blog-post-published">Posted @blogPost.Published.ToString("D")</p>
        <div class="blog-post-content">
            @blogPost.Content
        </div>
        <hr/>
    </article>
}