###########################################################
# Client Side Development
###########################################################

bower_components/
node_modules/

npm-debug.log

###########################################################
# Visual Studio
###########################################################

App_Data/
[Aa]rtifacts/
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.cache
*.feature.cs
*.GhostDoc.xml
*.user
*.received.*
*.suo

###########################################################
# This solution
###########################################################

spikes/

AppSettings.config
