###########################################################
# Client Side Development
###########################################################

bower_components/
node_modules/
typings/

npm-debug.log

###########################################################
# Visual Studio
###########################################################

.vs
App_Data/
[Aa]rtifacts/
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.cache
*.feature.cs
*.GhostDoc.xml
*.user
*.received.*
*.suo

###########################################################
# This solution
###########################################################

Sandbox/
spikes/

**/app/**/*.js
**/app/**/*.js.map

AppSettings.config
*.css
