<section ng-show="vm.tournament.events.length > 0 && vm.tournament.eventsAreOpen()">
    <div class="tournament-item-heading">
        <div class="title">Event</div>
        <div class="unit-price">Price</div>
        <div class="quantity"></div>
        <div class="total-price">Total</div>
    </div>
    <div class="tournament-item" ng-repeat="item in vm.tournament.events">
        <div class="title">
            {{item.title}}
        </div>
        <div class="unit-price">
            {{item.unitPrice | currency : item.currencySymbol(vm.tournament.showCurrency())}}
        </div>
        <div class="quantity">
            <input type="radio" name="eventId" ng-model="vm.eventId" value="{{item.id}}" ng-change="vm.eventChanged(vm.eventId)" ng-required="vm.eventIsRequired()">
        </div>
        <div class="total-price">
            {{item.totalPrice() | currency : item.currencySymbol(vm.tournament.showCurrency())}}
        </div>
    </div>
    <p ng-show="vm.eventIsRequired() && vm.submitted" class="help-block">Which event you are entering is required.</p>
    <div class="discount" ng-show="vm.showDiscount()">
        <div>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.player.under21" ng-change="vm.discountChanged()">I am under 21 (as at 31 December {{vm.tournament.starts.format('YYYY')}}) and entitled to 50% discount on entry fees.
            </label>
        </div>
        <div>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.player.fullTimeStudentUnder25" ng-change="vm.discountChanged()">I am a full time student (under 25 as at 31 December {{vm.tournament.starts.format('YYYY')}}) and entitled to 50% discount on entry fees.
            </label>
        </div>
    </div>
    <div ng-show="vm.tournament.isDoubles" class="paying-for-parnter">
        <div>
            <div>
                <label class="radio">
                    <input type="radio" name="payingFor" ng-model="vm.payingFor" value="myself-only" ng-change="vm.payingForChanged()" ng-required="vm.tournament.isDoubles">I am paying for myself only.
                </label>
            </div>
            <div>
                <label class="radio">
                    <input type="radio" name="payingFor" ng-model="vm.payingFor" value="myself-and-partner" ng-change="vm.payingForChanged()">I am paying for myself and my partner.
                </label>
            </div>
            <p ng-show="!(vm.payingFor) && vm.submitted" class="help-block">Who you are paying for is required.</p>
        </div>
        <div ng-show="vm.payingForPartner() && vm.showDiscount()" class="discount">
            <div>
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.partner.under21" ng-change="vm.discountChanged()">My partner is under 21 (as at 31 December {{vm.tournament.starts.format('YYYY')}}) and entitled to 50% discount on entry fees.
                </label>
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.partner.fullTimeStudentUnder25" ng-change="vm.discountChanged()">My partner is a full time student (under 25 as at 31 December {{vm.tournament.starts.format('YYYY')}}) and entitled to 50% discount on entry fees.
                </label>
            </div>
        </div>
    </div>
</section>