<!-- is it a cache issue? 13 July 2016 16:37 AEST -->
<section ng-show="vm.tournament.showFunctions()">
    <div class="tournament-item-heading">
        <div class="title">Functions</div>
        <div class="unit-price">Price</div>
        <div class="quantity">Quantity</div>
        <div class="total-price">Total</div>
    </div>
    <div class="tournament-item" ng-repeat="item in vm.tournament.functions">
        <div class="title" ng-class="item.isInformationOnly ? 'information-only' : ''">
            {{item.title}}
        </div>
        <div class="unit-price" ng-show="!(item.isInformationOnly)">
            {{item.unitPrice | currency}}
        </div>
        <div class="quantity" ng-show="!(item.isInformationOnly)">
            <input type="number" min="0" ng-model="item.quantity">
        </div>
        <div class="total-price" ng-show="!(item.isInformationOnly)">
            {{item.totalPrice() | currency}}
        </div>
    </div>
    <div class="dietary-requirements" ng-show="vm.showDietaryRequirements()">
        <label>Dietary Requirements:</label>
        <textarea rows="10" ng-model="vm.dietaryRequirements" placeholder="Dietary Requirements..."></textarea>
    </div>
</section>