<section class="player">

    <h2 ng-if="!vm.tournament.isGateball">Your Contact Details</h2>
    <h2 ng-if="vm.tournament.isGateball">Manager's Contact Details</h2>
    
    <div ng-class="{ 'has-error' : tournamentEntryForm.firstName.$invalid && (!tournamentEntryForm.firstName.$pristine || vm.submitted) }">
        <label for="firstName">First Name</label>
        <div>
            <input type="text" name="firstName" id="firstName" ng-model="vm.player.firstName" placeholder="Jane" required>
            <p ng-show="tournamentEntryForm.firstName.$invalid && (!tournamentEntryForm.firstName.$pristine || vm.submitted)" class="help-block">Your first name is required.</p>
        </div>
    </div>

    <div ng-class="{ 'has-error' : tournamentEntryForm.lastName.$invalid && (!tournamentEntryForm.lastName.$pristine || vm.submitted) }">
        <label for="lastName">Last Name</label>
        <div>
            <input type="text" name="lastName" id="lastName" ng-model="vm.player.lastName" placeholder="Doe" required>
            <p ng-show="tournamentEntryForm.lastName.$invalid && (!tournamentEntryForm.lastName.$pristine || vm.submitted)" class="help-block">Your last name is required.</p>
        </div>
    </div>

    <div ng-class="{ 'has-error' : tournamentEntryForm.email.$invalid && (!tournamentEntryForm.email.$pristine || vm.submitted) }">
        <label for="email">Email</label>
        <div>
            <input type="email" name="email" id="email" ng-model="vm.player.email" placeholder="jane@example.org" required>
            <p ng-show="tournamentEntryForm.email.$invalid && (!tournamentEntryForm.email.$pristine || vm.submitted)" class="help-block">Your email is required.</p>
        </div>
    </div>

    <div ng-class="{ 'has-error' : tournamentEntryForm.phone.$invalid && (!tournamentEntryForm.phone.$pristine || vm.submitted) }">
        <label for="phone">Mobile&nbsp;/ Phone</label>
        <div>
            <input type="text" name="phone" id="phone" ng-model="vm.player.phone" placeholder="0421 999 999" required>
            <p ng-show="tournamentEntryForm.phone.$invalid && (!tournamentEntryForm.phone.$pristine || vm.submitted)" class="help-block">Your phone is required.</p>
        </div>
    </div>

    <div ng-show="vm.showHandicap()" ng-class="{ 'has-error' : tournamentEntryForm.handicap.$invalid && (!tournamentEntryForm.handicap.$pristine || vm.submitted) }">
        <label for="handicap">Handicap</label>
        <div>
            <input type="number" name="handicap" id="handicap" ng-model="vm.player.handicap" placeholder="0" ng-required="vm.showHandicap()">
            <p ng-show="tournamentEntryForm.handicap.$invalid && (!tournamentEntryForm.handicap.$pristine || vm.submitted)" class="help-block">Your handicap is required.</p>
        </div>
    </div>

    <div ng-show="vm.showDateOfBirth()" ng-class="{ 'has-error' : tournamentEntryForm.dateOfBirth.$invalid && (!tournamentEntryForm.dateOfBirth.$pristine || vm.submitted) }">
        <label for="dateOfBirth">Date of Birth</label>
        <div>
            <input type="text" name="dateOfBirth" id="dateOfBirth" class="form-control" ng-model="vm.player.dateOfBirth" ng-required="vm.showDateOfBirth()" uib-datepicker-popup="d!/M!/yyyy" datepicker-options="vm.datepickerOptions" placeholder="dd/mm/yyyy">
            <p ng-show="vm.dateOfBirthIsInvalid() && (!tournamentEntryForm.dateOfBirth.$pristine || vm.submitted)" class="help-block">Your date of birth is required and must be before {{vm.tournament.dateOfBirthRange.maximum | date:'mediumDate'}}.</p>
        </div>
    </div>

    <div ng-show="vm.showNonResident()">
        <label class="checkbox">
            <input type="checkbox" ng-model="vm.player.nonResident">I do not live in Australia.
        </label>
    </div>

    <div ng-show="vm.showCountry()" ng-class="{ 'has-error' : tournamentEntryForm.country.$invalid && (!tournamentEntryForm.country.$pristine || vm.submitted) }">
        <label for="phone">Country</label>
        <div>
            <input type="text" name="country" id="country" ng-model="vm.player.country" placeholder="Australia">
            <p ng-show="tournamentEntryForm.country.$invalid && (!tournamentEntryForm.country.$pristine || vm.submitted)" class="help-block">Your country is required.</p>
        </div>
    </div>

    <div ng-show="vm.showGCDGrade()" ng-class="{ 'has-error' : tournamentEntryForm.gcDGrade.$invalid && (!tournamentEntryForm.gcDGrade.$pristine || vm.submitted) }">
        <label for="phone">DGrade (<a href="http://rank.worldcroquet.org/gcrank/rank.php" target="_blank">Look up</a>)</label>
        <div>
            <input type="text" name="gcDGrade" id="gcDGrade" ng-model="vm.player.gcDGrade" placeholder="">
            <p ng-show="tournamentEntryForm.gcDGrade.$invalid && (!tournamentEntryForm.gcDGrade.$pristine || vm.submitted)" class="help-block">Your current DGrade is required.</p>
        </div>
    </div>

</section>