<section>
    <div class="alert alert-success" role="alert">
        <p>
            Thank you for your entry and/or order. An email confirming your order and payment details will be sent to you shortly.
        </p>
        <p ng-show="vm.tournament.isGC && !vm.tournament.isHandicap">
            Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('mens-open')">Men's Open</a> | <a href="#" ng-click="vm.newEntry('womens-open')">Women's Open</a>
        </p>
        <p ng-show="vm.tournament.isGC && vm.tournament.isHandicap">
            Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('handicap-doubles')">Doubles</a> | <a href="#" ng-click="vm.newEntry('handicap-singles')">Singles</a>
        </p>
        <p ng-show="vm.tournament.isAC && !vm.tournament.isHandicap">
            Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('doubles')">Doubles</a> | <a href="#" ng-click="vm.newEntry('singles')">Singles</a>
        </p>
        <p ng-show="vm.tournament.isGateball">
            Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('championships')">Gateball Championships</a>
        </p>
    </div>
</section>