<section>
    <div class="alert alert-success" role="alert">
        <p>
            Thank you for your entry and/or order. An email confirming your order and payment details will be sent to you shortly.
        </p>
        <div ng-show="vm.tournament.isGC">
            <div ng-show="vm.tournament.isHandicap">
                <p>
                    Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('handicap-doubles')">Doubles</a> | <a href="#" ng-click="vm.newEntry('handicap-singles')">Singles</a>
                </p>

            </div>
            <div ng-show="!vm.tournament.isHandicap">
                <p ng-show="vm.tournament.isUnder21">
                    Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('u21-doubles')">Doubles</a> | <a href="#" ng-click="vm.newEntry('u21-singles')">Singles</a>
                </p>
                <p ng-show="!vm.tournament.isUnder21">
                    Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('open-doubles')">Doubles</a> | <a href="#" ng-click="vm.newEntry('open-singles')">Singles</a>
                </p>
            </div>
        </div>
        <div ng-show="vm.tournament.isAC">
            <p>
                Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('patrons-trophy')">Patron's Trophy</a>
            </p>
        </div>
        <div ng-show="vm.tournament.isGateball">
            <p>
                Do you wish to make another entry? <a href="#" ng-click="vm.newEntry('championships')">Gateball Championships</a>
            </p>
        </div>
    </div>
</section>