<div class="ng-cloak">
    <div class="tournament-entry container" ng-controller="TournamentsController as vm">
        <div ng-show="vm.state === 'show-form'">
            <header>
                <div class="row">
                    <div class="col-sm-10">
                        <h1>{{ vm.tournament.title }}</h1>
                        <h2>{{ vm.tournament.starts | amDateFormat:'dddd Do' }} to {{ vm.tournament.finishes | amDateFormat:'dddd Do MMMM YYYY' }}</h2>
                        <h3>{{ vm.tournament.location }}</h3>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="/assets/aca-logo-page-background.png" alt="ACA"/>
                    </div>
                </div>
            </header>
            @* Angular requires <form>...</form> is in this file. You cannot use <ng-include>...</ng-include> *@
            <section ng-show="vm.tournament.isOpen()">
                <form class="tournament-entry-form" name="tournamentEntryForm" novalidate>
                    <div ng-if="vm.tournament.eventsAreOpen()" ng-include="'/app/tournaments/events.html'"></div>
                    <div ng-if="vm.tournament.eventsAreClosed()" ng-include="'/app/tournaments/events-closed.html'"></div>
                    <div ng-if="vm.tournament.showFunctions()" ng-include="'/app/tournaments/functions.html'"></div>
                    <div ng-if="vm.tournament.showMerchandise()" ng-include="'/app/tournaments/merchandise.html'"></div>
                    <div ng-if="vm.requiresPayment()" ng-include="'/app/tournaments/summary.html'"></div>
                    <ng-include src="'/app/tournaments/player.html'"></ng-include>
                    <div ng-if="vm.tournament.isDoubles" ng-include="'/app/tournaments/partner.html'"></div>
                    <button ng-if="vm.requiresPayment()" class="btn btn-primary" ng-click="vm.payByEFT()">Pay by EFT</button>
                    <button ng-if="vm.requiresPayment()" class="btn" ng-click="vm.payByCheque()">Pay by Cheque</button>
                    <button ng-if="vm.tournament.isEOI" class="btn btn-primary" ng-click="vm.sendEOI()">Send Expression of Interest</button>
                </form>
            </section>
            <section ng-show="vm.tournament.isClosed()">
                <div id="tournament-closed" class="alert alert-info" role="alert">
                    <p>Entries for this tournament closed {{ vm.tournament.closedOn() }}</p>
                </div>
            </section>
        </div>
        <div ng-show="vm.state === 'processing'">
            <ng-include src="'/app/tournaments/processing.html'"></ng-include>
        </div>
        <div ng-show="vm.state === 'processed'">
            <div ng-if="vm.requiresPayment()" ng-include="'/app/tournaments/processed.html'"></div>
            <div ng-if="vm.tournament.isEOI" ng-include="'/app/tournaments/processed-eoi.html'"></div>
        </div>
    </div>
</div>