<?xml version="1.0" encoding="utf-8" ?>

<!-- 
    See comments at AppSettings section of Web.config to learn more about this file.
    
    Ensure this file's Properties > Build Action is None so it is not published to the website.
-->
<appSettings>
    <add key="Content:BlogDirectoryName" value="news" />
    <add key="Content:Repository:Url" value="https://bitbucket.org/croquet-australia/croquet-australia-content.git" />
    <add key="Content:Repository:FullDirectoryPath" value="~/App_Data/Content/Repository" />
    <add key="Content:Repository:UserName" value="XXXX" />
    <add key="Content:Repository:Password" value="XXXX" />
    <add key="Content:PublishedRepository:FullDirectoryPath" value="~/App_Data/Content/Published" />
    <add key="Elmah:ErrorLogType" value="MemoryErrorLog OR Elmah.Io"/>
    <add key="Elmah:LogId" value="XXXX See https://elmah.io/dashboard"/>
    <add key="OAuth:Google:ClientId" value="XXXX See https://console.developers.google.com/project/croquet-aus-website/apiui/credential" />
    <add key="OAuth:Google:ClientSecret" value="XXXX See https://console.developers.google.com/project/croquet-aus-website/apiui/credential" />
    <add key="Support:Email" value="tim@26tp.com"/>
    <add key="Support:Name" value="Tim Murphy"/>
    <add key="WebApi:BaseUri" value="https://localhost:44300/" />
</appSettings>
