<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>

    <configSections>

        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>

    </configSections>

    <!-- AppSettings.config potentially contains sensitive information (passwords, etc) and is therefore
         excluded from the Git repository. If required copy AppSettings.Example.config to AppSettings.config 
         and edit accordingly.
    -->
    <appSettings file="AppSettings.config">

        <add key="loginUrl" value="~/sign-in" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    </appSettings>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <targets>
            <target xsi:type="Chainsaw" name="Log2Console" address="udp://127.0.0.1:7071" />
            <target xsi:type="Trace" name="Trace" layout="NLog : ${level:padding=5} : ${logger} - ${message} ${exception:format=tostring}" />
        </targets>

        <rules>
            <logger name="CroquetAustralia.Library.Web.Hosting.*" minLevel="info" writeto="Log2Console" final="true" />
            <logger name="*" minlevel="Trace" writeTo="Log2Console" />
            <logger name="*" minlevel="Trace" writeTo="Trace" />
        </rules>

    </nlog>

    <system.web>

        <compilation debug="true" targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5" />

        <httpModules>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
        </httpModules>

        <!--
            Web.Release.config changes mode to On when website is published.
            
            WARNING: ANYTHING YOU DO IN customErrors MUST BE MIMICED IN httpErrors.
            
            Reference: http://benfoster.io/blog/aspnet-mvc-custom-error-pages
        
            todo: All error numbers.        
        -->
        <customErrors defaultRedirect="~/500.aspx" mode="Off" redirectMode="ResponseRewrite">
            <error statusCode="404" redirect="~/404.aspx" />
        </customErrors>

    </system.web>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
        
    </runtime>

    <system.webServer>

        <validation validateIntegratedModeConfiguration="false" />

        <modules>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
        </modules>

        <!--
            WARNING: ANYTHING YOU DO IN httpErrors MUST BE MIMICED IN customErrors.
            
            NOTE: path="999.html" must not contain directory references.
            
            Reference: http://benfoster.io/blog/aspnet-mvc-custom-error-pages
            
            todo: All error numbers.        
            todo: Update Web.Debug.config so mode can be set to DetailedLocalOnly.
        -->
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="404.html" responseMode="File" />
            <remove statusCode="500" />
            <error statusCode="500" path="500.html" responseMode="File" />
        </httpErrors>

        <!-- 
            Required by VirtualPathProviders
            
            Reference: http://www.paraesthesia.com/archive/2011/07/21/running-static-files-through-virtualpathprovider-in-iis7.aspx/
        -->
        <handlers>
            <add name="jpg" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
            <add name="pdf" path="*.pdf" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
            <add name="png" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>

    </system.webServer>

    <elmah>

        <security allowRemoteAccess="false" />

        <!--
            errorLog configuration is handled by ElmahConfig class in App_Start folder.
            <errorLog type="Elmah.Io.ErrorLog, Elmah.Io" LogId="SECRET" />
        -->

    </elmah>

    <!-- ReSharper disable once WebConfig.WebConfigPathWarning -->
    <location path="elmah.axd">
        <system.web>
            <httpHandlers>
                <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
            </httpHandlers>
            <!--
                Remote access to elmah.axd is false but as extra insurance only administrators are authorized to use elmah.axd.

                For more information, see: http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
            -->
            <authorization>
                <!-- NOTE: allow must be before deny. -->
                <allow roles="Developer" />
                <deny users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <handlers>
                <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
            </handlers>
        </system.webServer>
    </location>

</configuration>