@using CroquetAustralia.Website.App.Infrastructure
@* ReSharper disable All *@
@{
    var model = (IViewModel) PageData["model"];
    if (model.ShowSidebar)
    {
        @RenderPage("EndColumns.cshtml")
    }
}
</div>
</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<!-- bower:js -->
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/bootstrap-submenu/dist/js/bootstrap-submenu.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/bootstrap-markdown.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/markdown-editpreview-ng.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/Markdown.Converter.js"></script>
<script src="/bower_components/markdown-editpreview-ng/lib/codemwnci/Markdown.Sanitizer.js"></script>
<script src="/bower_components/Angular.uuid2/dist/angular-uuid2.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2012-2022.js"></script>
<script src="/bower_components/angular-moment/angular-moment.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/app/app.js"></script>
<script src="/app/tournaments/scripts/DateOfBirthRange.js"></script>
<script src="/app/tournaments/scripts/Tournament.js"></script>
<script src="/app/tournaments/scripts/TournamentItem.js"></script>
<script src="/app/tournaments/scripts/TournamentPlayer.js"></script>
<script src="/app/tournaments/scripts/TournamentsController.js"></script>
<!-- endinject -->
<script>
    $('.dropdown-submenu > a').submenupicker();
</script>