<div class="sticky-notes">
    <div class="sticky-note">
        <i class="pin"></i>
        <div class="content yellow">
            <h1>
                Patron's Trophy
            </h1>
            <p>
                Entries for Parton's Trophy close Thursday, 2nd June 2016. <a href="/tournaments">Learn more</a> or <a href="/tournaments/2016/ac/patrons-trophy">enter now!</a>
            </p>
        </div>
    </div>
    <div class="sticky-note">
        <i class="pin"></i>
        <div class="content green">
            <h1>
                Recent Updates
            </h1>
            <ul>
                <li>Link to Association Croquet World Rankings added to <a href="/disciplines/association-croquet/resources">resources</a>.</li>
                <li>Link to Golf Croquet World Rankings added to <a href="/disciplines/golf-croquet/resources">resources</a>.</li>
            </ul>
        </div>
    </div>
</div>
