<div class="sticky-notes">
    <div class="sticky-note">
        <i class="pin"></i>
        <div class="content green">
            <h1>
                Recent Updates
            </h1>
            <ul>
                <li>Link to Association Croquet World Rankings added to <a href="/disciplines/association-croquet/resources">resources</a>.</li>
                <li>Link to Golf Croquet World Rankings added to <a href="/disciplines/golf-croquet/resources">resources</a>.</li>
            </ul>
        </div>
    </div>
</div>