<div class="sticky-notes">
    <div class="sticky-note">
        <i class="pin"></i>
        <div class="content green">
            <h1>
                GC Handicapping System
            </h1>
            <p>
                New <a href="/disciplines/golf-croquet/resources">GC Handicapping System</a> came into effect 3 April, 2017
            </p>
        </div>
    </div>
</div>