@using CroquetAustraliaWebsite.Application.App.Infrastructure
@{
    var navigationItems = (IEnumerable<NavigationItem>)PageData["navigationItems"];

    foreach (var navigationItem in navigationItems)
    {
        if (navigationItem.ChildNavigationItems.Any())
        {
            <li class="dropdown-submenu">
                <a tabindex="0" data-toggle="dropdown">@navigationItem.Text</a>
                <ul class="dropdown-menu" role="menu">
                    @RenderPage("~/Layouts/Shared/_DropDownSubMenuNavigationItems.cshtml", new { navigationItems = navigationItem.ChildNavigationItems })
                </ul>
            </li>
        }
        else
        {
            <li><a tabindex="0" href="@navigationItem.Url">@navigationItem.Text</a></li>
        }
    }
}
