@using System.Diagnostics
@using CroquetAustraliaWebsite.Application.App.Infrastructure
@{
    var model = (IViewModel)PageData["model"];
    var container = model.ContainerClass;
    IHtmlString htmlAttributes = new HtmlString("lang=\"en\"");

    if (model.AddAngularSupport)
    {
        htmlAttributes = new HtmlString(htmlAttributes + " ng-app");
    }
}
<!DOCTYPE html>
<html @htmlAttributes>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*todo: Get title from frontmatter*@
    <title>Croquet Australia</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/app/styles.css" rel="stylesheet" />
    @*
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
    *@
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="@container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    Menu
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Croquet Australia</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var navigationItem in model.NavigationItems)
                    {
                        <li>@navigationItem.RenderHyperlink()</li>
                    }
                </ul>
                @* todo
                    @if (Request.IsAuthenticated)
                    {
                        <form action="~/sign-out" id="sign-out" method="post">
                            @{
                                var x = Html;
                                Debugger.Break();
                            }
                            @Html.AntiForgeryToken()
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:document.getElementById('sign-out').submit()">Sign Out</a></li>
                            </ul>
                        </form>
                    }*@
            </div>
        </div>
    </nav>
    <div class="body-content">
        <div class="@container">
