<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.LibLog.Fody" version="2.16.1" targetFramework="net452" userInstalled="true" />
  <package id="ASP.NET.TestHelpers" version="1.0.0.0" targetFramework="net452" />
  <package id="Fody" version="1.28.1" targetFramework="net452" userInstalled="true" />
  <package id="LibLog" version="3.1.0" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net452" userInstalled="true" />
  <package id="SpecFlow.xUnit" version="1.0.2" targetFramework="net452" userInstalled="true" />
  <package id="xunit" version="1.9.2" targetFramework="net452" />
  <package id="xunit.extensions" version="1.7.0.1540" targetFramework="net452" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.0.0-rc1-build1030" targetFramework="net452" />
</packages>