.body-content {
    margin-top: 70px;
}

td {
    padding: 4px;
    border: 1px solid lightgray;
}

/*
    Styles for MVC5 validation helpers 
*/

.field-validation-error,
.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
}

.field-validation-valid,
.validation-summary-valid {
    display: none;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error,
input[type="checkbox"].input-validation-error {
    border: 1px solid #b94a48;
}

/*
    Error Page
*/
.error-page body {
    background: #000;
    color: #FFF;
    font-size: 1.7em;
}

.error-page img {
    margin-bottom: 5px;
}

.error-page .creative-commons {
    float: none;
}

.error-page figure {
    margin-bottom: 20px;
    font-size: x-small;
    float: left;
}

    .error-page figure figcaption {
        text-align: center;
        color: darkgray;
    }

    .error-page figure a {
        color: darkgray;
    }

    .error-page p {
        float: left;
        width: 300px;
    }

@media (min-width: 700px) {
    .error-page p, .error-page h1 {
        float: none;
        margin-left: 350px;
    }
}

.error-page h1 {
    margin-top: 0;
}

/* 
    Blog Posts
*/
.blog-post img {
    max-width: 100%;
}

.blog-post h1 {
    font-size: 25px;
    border-bottom: 1px solid gray;
    margin-bottom: 4px;
}

.blog-post h2 {
    font-size: 20px;
    text-decoration: underline gray;
}

.blog-post h3 {
    font-size: 17px;
    text-decoration: underline gray;
}

.blog-post-published {
    font-size: small;
    color: gray;
    font-style: italic;
}
