.body-content { margin-top: 70px; }

/*
    Styles for MVC5 validation helpers 
*/

.field-validation-error,
.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
}

.field-validation-valid,
.validation-summary-valid { display: none; }

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error,
input[type="checkbox"].input-validation-error { border: 1px solid #b94a48; }

/*
    Error Page
*/
.error-page body {
    background: #000;
    color: #FFF;
    font-size: 1.7em;
}

.error-page img {
    float: left;
    margin-bottom: 20px;
}

.error-page p, .error-page h1 { 
    width: 300px; 
    margin-left: 350px;
}

.error-page h1 {
    margin-top: 0;
}

/* 
    Blog Posts
*/
.blog-post img {
    max-width: 100%;]
}